@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Infotrack SEO Rank Check</h1>
    
    <form action="https://localhost:7266/SEO/" method="get">
        <input type="text" name="query" value="land registry search" /><br />
        <input type="hidden" name="searchProvider" value="1" /><br />
        <input type="submit" value="Calculate SEO Rank" />
    </form>
</div>
